.btn.btn-view {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: #FC942D;
  font-size: 22px;
  position: relative;
  font-family: "Muli", sans-serif;
  text-align: center;
}

/* .btn.btn-order:hover {
  background-color: #f87e00;
}

.btn.btn-order:active {
  background-color: #f76800;
}

.btn.btn-learn-more {
  color: #FC942D;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  margin: 40px;
}

.btn.btn-learn-more:hover {
  color: #f76800;
} */