.order-container {
    margin: 80px 20px 20px;
    position: relative;
  }
  
  .order-section {
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }
  
  .order-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .order-page-heading {
    margin: 0;
    padding: 10px;
    margin-right: 20px;
  }
  
  .image-placeholder {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px; /* Add margin below image */
  }
  
  .image-placeholder img {
    width: 100%;
  }
  
  .user-info {
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .previous-orders {
    margin-top: 20px;
    max-width: 800px;
    border: 1px solid #fa6338; /* Add orange border */
    border-radius: 10px; /* Curve border */
    padding: 10px;
  }
  
  .previous-orders-heading {
    margin-bottom: 10px;
    border-bottom: 1px solid #fa6338; /* Add orange underline */
  }
  
  .previous-orders table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .previous-orders th,
  .previous-orders td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .previous-orders th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .previous-orders td {
    text-align: center;
  }
  
  /* Highlight inputs */
  .previous-orders th.highlight,
  .previous-orders td.highlight {
    background-color: #ffe6cc; /* Lighter orange */
  }
  