/* Order.css */

.order-container {
    margin: 80px;
  }
  
  .order-page-heading {
    margin-top: 0;
  }
  
  .user-info {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .previous-orders {
    margin-top: 20px;
  }
  
  .previous-orders h2 {
    margin-bottom: 10px;
  }
  
  .previous-orders table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .previous-orders th,
  .previous-orders td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .previous-orders th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .previous-orders td {
    text-align: center;
  }
  