/* Order.css */

.order-container {
    margin: 80px;
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-page-heading {
    margin: 0;
  }
  
  .user-info {
    font-weight: bold;
  }
  
  .previous-orders {
    /* Increased margin to add more space */
    margin-top: 40px;
    /* Adjust the width as needed */
    max-width: 600px;
    /* Add border around the previous orders */
    border: 1px solid #ccc;
    /* Add padding inside the border */
    padding: 10px;
  }
  
  .previous-orders h2 {
    margin-bottom: 10px;
    /* Underline the Previous Orders header */
    border-bottom: 1px solid #ccc;
  }
  
  .previous-orders table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .previous-orders th,
  .previous-orders td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .previous-orders th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .previous-orders td {
    text-align: center;
  }
  