.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-dialog {
  border-radius: 5px;
  padding: 20px;
  width: 580px !important;
  background-color: white;

}

/* .modal-content {
  padding: 5em;
} */

.modal-header {
  display: flex;
  justify-content: space-between;
  /* Align items to the start and end edges */
  align-items: center;
  background-color: #F8F9FA;
  padding: 10px 20px;
  /* Add padding to adjust spacing */
}

.btn-close {
  margin-left: auto;
  /* Pushes the button to the right */
}

.mb-3 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}